@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
body{
  background-image: ;
}
body{
  background-color: beige;
  border: 2px solid black;
  
}
h1{
  text-align: center;
  font-family:  "Playwrite IT Moderna";
}
p{
  font-family: "EB Garamond";
  
}



